*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.6);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes slideNext {
  0% {
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: rotateY(15deg) translateX(-50px);
    opacity: 0;
  }
  51% {
    transform: rotateY(-15deg) translateX(50px);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slidePrev {
  0% {
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: rotateY(-15deg) translateX(50px);
    opacity: 0;
  }
  51% {
    transform: rotateY(15deg) translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) translateX(0);
    opacity: 1;
  }
}

.animate-slideNext {
  animation: slideNext 0.5s ease forwards;
}

.animate-slidePrev {
  animation: slidePrev 0.5s ease forwards;
}

.custom-scroll {
  scroll-behavior: smooth;
}

.custom-scroll::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
  border-top: 1px solid var(--color-border);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 9999px;
  border: 10px solid transparent;
  background-clip: content-box;
}
